.slide{
    opacity: 0.30;
}
.carousel-caption h1 {
    font-size: 70px;
    color:white;
}
/* .rage{
    margin-left: 680px;
    padding: 30px 10x;

} */

.jumbotron {
    text-align: center;
    background-color: rgba(251, 238, 238, 0.194);
}

.sub {
    text-align: center;
    background-color: rgba(251, 238, 238, 0.427);
    margin-top: 10px;
}

.dotted {
    border-style: solid;
    border-color: coral;
    padding: 10px;
    background: rgba(4, 15, 40, 0);
    
}

.solid {
    padding: 10px;
    margin: auto;
    /* border-style: dotted; */
}

.jumbotron {
    margin-top: 30px;
    padding-bottom: 30px;
}

.row {
    margin-top: 50px;
    padding-bottom: 50px;
}
.mid{
    margin-left: 450px;
    margin-top: 100px;
 
}
.media{
    margin-left: 650px;
    margin-right: -700px;
    margin-top: -130px;
}
.third{
    padding: 10px;
    background-color: white;
}
.fir{
    margin-bottom: 100px;
}
.carousel-caption{
    margin-bottom: 300px;
}


